# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual envs
.venv/
venv/
env/
src/url_shortener/core/clients/secret*.json
secret.url-shortener-abadb-firebase-adminsdk-fbsvc-48d38c91f0.json
# Build/dist
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
htmlcov/
.coverage*
coverage.xml

# Type checkers
.mypy_cache/
.pytype/
pyrightconfig.json

# Alembic
src/database/migrations/versions/*.pyc
src/database/migrations/versions/*__pycache__/

# Logs
*.log

# Local env
*.env*
!*.env*.example

# Docker
*.pid
/.local/

# IDE
.vscode/
.idea/
